<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Sign Up
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #signupSlider>

        <ion-slide>
          <!-- <signup-step1 #step1></signup-step1> -->
        </ion-slide>

        <ion-slide>
          <!-- <signup-step2 #step2></signup-step2> -->
        </ion-slide>

      </ion-slides>
  <p text-center>Already have a account?</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">Login</ion-button>
</ion-content>  