<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Sign Up
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #signupSlider>

        <ion-slide>
          <signup-step1 #step1></signup-step1>
        </ion-slide>

        <ion-slide>
          <signup-step2 #step2></signup-step2>
        </ion-slide>

      </ion-slides>
      <ion-grid>
        <ion-row class="ion-align-items-center">
              <ion-col class="ion-align-self-center" size="3" offset="4">
                    <ion-button color="success" *ngIf="step1.step1.valid" (click)="next()">Continuar</ion-button>
              </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
        <ion-col size="10" offset="2">
          <a text-center (click)="loginModal()">¿Ya tienes una cuenta creada?</a>  
        </ion-col>      
        </ion-row>
      </ion-grid>

</ion-content>  